.flex {
  display: flex;
  
}
.cent {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}


.home1 {
  font-display: swap;
  font-family: 'Shadows Into Light', cursive;
 
}

.home2 {
  font-display: swap;
  font-family: 'Open Sans', sans-serif;
}

